body {
    font-family:'calibri';
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, span { 
    font-family: 'calibri';
    text-decoration: none;
}

p {
    font-family: 'calibri';
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.blue-row {
    background-color: #013369;
    padding: 20px;
    color: white
}

.modal-header {
    background-color: #013369;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    transition-duration: 0.4s;
    cursor: pointer;
}

.h3-modal {
    background-color: #013369;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.table-header {
    background-color: #013369;
    color: white;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.button {
    border: none;
    background-color: #013369;
    color:white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    display:inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: #013369;
    text-decoration: underline;
    text-decoration-color: white;
    
}

.button1:hover {
    color: white;
    background-color: #013369;
    text-decoration: none;
}

.button1 {
    border: none;
    background-color: #013369;
    color: white;
    cursor: pointer;
    padding-right: 8px;
    text-decoration: none;
}

.button2 {
    border: none;   
    background-color: white;
    color: #013369;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 8px;
    text-decoration: none;
}

.icon {
    border: none;
    background-color: white;
    color: #013369;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 8px;
    text-decoration: none;
}

.toenail {
    background-color: #013369;
    color: white;
    text-align: center;
    text-decoration: none;
    /* text-decoration-color: white; */
}

.toenail:hover {
    color: #013369;
    background-color: white;
    /* text-decoration-color: white; */
    text-decoration: none;
}

.arrow {
    color: #013369;
}

.arrow:hover {
    color: #D50A0A;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

.contents {
    color:#013369;
}

.contents:hover {
    color: #D50A0A;
}

.to-top {
    color: #013369;
    background-color:transparent;
}

.to-top:hover {
    color: #D50A0A;
    background-color: transparent;
}

/* 
< !-- Official NFL Colors -->
< !-- Dark Midnight Blue (#013369) and Rosso Corsa (#D50A0A) --> */