body {
    font-family: "Cambria";
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, li, th, span { 
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: "Cambria";
    text-decoration: none;
}

p {
    font-family: 'Cambria';
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border: none;
    color:blanchedalmond;
    text-align: center;
    display:inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button1:hover {
    background-color: #013369;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
        text-decoration: none;
}

a:hover {
        text-decoration: none;
}

a:active {
        text-decoration: none;
}

.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
}

.col-container {
    display: table;
    width: 60%;
    height: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
    height: 100%;
}

/* 
h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
} */

/* .tabcontent {
    background-color: rgba(8, 11, 28, 0.741);
    color: white;
    border: 2px solid black;
    margin: 0px;
    padding: 50px;
} */
/* 
* {
box-sizing: border-box
} */


/* Style tab links */
/* .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
} */

/* Style the tab content (and add height:100% for full page content) */
/* .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
} */

/* 
< !-- Official NFL Colors -->
< !-- Dark Midnight Blue (#013369) and Rosso Corsa (#D50A0A) --> */