<!DOCTYPE html>
<html>

<head>
    <title>NFL Injury Analysis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <!-- Stats Ticker -->
    <header class="w3-container w3-padding" id="myHeader">
        <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">Injury Statistics - this will rotate through the findings</h1>
         
            


        </div>
    </header>

   
    <!-- Side Dropdown Modals -->
    <div class="w3-container">
        <div class="w3-row w3-large blue-row">
            <div class="w3-col s1">
                <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" style="height:32px;">
            </div>
            <div class="w3-col s1">
                <div class="w3-dropdown-hover">
                    <button class="button">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <button class="button w3-block w3-padding" onclick="document.getElementById('id01').style.display='block'"
                            style="font-weight:900;">The Project</button>
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-card-4 w3-animate-top">
                                <header class="modal-header w3-container w3-card-4">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="button1 w3-display-topright">&times;</span>
                                    <h3 class="h3-modal">The Project</h3>
                                </header>
                                <div class="w3-container">
                                    <p>This project investigates lower-body injuries and concussions sustained in the NFL over sets
                                        of 2 seasons in order to attempt to determine factors associated with such injuries. We hope to provide
                                        insights to the factors correlating with high risk to protect players while maintaining the game as
                                        much as is safely possible.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="button w3-block w3-padding" onclick="document.getElementById('id02').style.display='block'"
                                style="font-weight:900;">The Process</button>
                            <div id="id02" class="w3-modal">
                                <div class="w3-modal-content w3-card-4 w3-animate-top">
                                    <header class="modal-header w3-container w3-card-4">
                                        <span onclick="document.getElementById('id02').style.display='none'"
                                            class="button1 w3-display-topright">&times;</span>
                                        <h3 class="h3-modal">The Process</h3>
                                    </header>
                                    <div class="w3-padding">
                                        <li>Get the Data - Data acquisition and storage</li>
                                        <li>Explore the Playing Field - What are we working with?</li>
                                        <li>Clean it - Remove missing fields, fix issues, eliminate problems</li>
                                        <li>Transform it - Prepare data for graphical and machine learning analyses</li>
                                        <li>Establish machine learning models</li>
                                        <li>Analyze it - What was learned? How can we improve the model?</li>
                                        <li>Next Play - Improve the model, re-analyze</li>
                                        <li>Present the results</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div>
                            <button class="button w3-block w3-padding" onclick="document.getElementById('id03').style.display='block'"
                                style="font-weight:900;">The Features</button>
                            <div id="id03" class="w3-modal">
                                <div class="w3-modal-content w3-card-4 w3-animate-top">
                                    <header class="modal-header w3-container w3-card-4">
                                        <span onclick="document.getElementById('id03').style.display='none'"
                                            class="button1 w3-display-topright">&times;</span>
                                        <h3 class="h3-modal">The Features</h3>
                                    </header>
                                    <div class="w3-padding">
                                        <p>This project features numerous types of media to explore the injuries in the NFL:</p>
                                        <li>The Replays - interactive football field that allows the user to explore injurious plays</li>
                                        <li>The Stats - interactive charts that allow the user to filter conditions and plays</li>
                                        <li>Recent Injuries - shows for most recent injuries that have made headlines</li>
                                        <li>Findings Ticker - Scrollable Top Bar to Examine Findings</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>                         
                            <button class="button w3-block w3-padding" onclick="document.getElementById('id04').style.display='block'"
                                style="font-weight:900;">The Reports</button>
                            <div id="id04" class="w3-modal">
                                
                                <div class="w3-modal-content w3-card-4 w3-animate-top">
                                    <header class="modal-header w3-container w3-card-4">
                                        <span onclick="document.getElementById('id04').style.display='none'"
                                            class="button1 w3-display-topright">&times;</span>
                                        <h3 class="h3-modal">The Reports</h3>
                                    </header>
                                    <div class="w3-padding">
                                        <ul class="w3-hoverable">
                                            <li><a href="presentation.html" class="w3-bar-item w3-button w3-xlarge" target="_blank">Highlights and Recap</a></li>
                                            <li><a href="report.html" class="w3-bar-item w3-button w3-xlarge" target="_blank">Play-by-Play with Stats - Full Analysis</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="button w3-block w3-padding" onclick="document.getElementById('id05').style.display='block'"
                                style="font-weight:900;">The Team</button>
                            <div id="id05" class="w3-modal">
                        
                                <div class="w3-modal-content w3-card-4 w3-animate-top">
                                    <header class="modal-header w3-container w3-card-4">
                                        <span onclick="document.getElementById('id05').style.display='none'"
                                            class="button1 w3-display-topright">&times;</span>
                                        <h3 class="h3-modal">The Team</h3>
                                    </header>
                                    <div class="w3-padding">
                                        <ul class="w3-hoverable">
                                            <li><a href="https://www.linkedin.com/in/justinpapreck/" rel="noopener noreferrer" class="w3-bar-item w3-button w3-xlarge" target="_blank">Justin Papreck - Coach</a></li>
                                            <li><a href="https://www.linkedin.com/in/-amygaffney/"  rel="noopener noreferrer" class="w3-bar-item w3-button w3-large" target="_blank">Amy Gaffeny</a></li>
                                            <li><a href="https://github.com/ljvince"  rel="noopener noreferrer" class="w3-bar-item w3-button w3-large" target="_blank">Vincent Fan</a></li>
                                            <li><a href="https://www.linkedin.com/in/izzy-i-48ab79101/"  rel="noopener noreferrer" class="w3-bar-item w3-button w3-large" target="_blank">Izzy Irazoque</a></li>
                                            <li><a href="https://github.com/kyturr" rel="noopener noreferrer" class="w3-bar-item w3-button w3-large" target="_blank">Kevin Ytturalde</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="w3-col s3">
                <a href="{{url_for('replays')}}" class="button w3-block " style="font-weight:900;" target="_blank">The Replays</a>
            </div>
            <div class="w3-col s3">
                <a href="{{url_for('stats')}}" class="button w3-block " style="font-weight:900;" target="_blank">The Stats</a>
            </div>
            <div class="w3-col s3">
                <a href="{{url_for('algorithm')}}" class="button w3-block" style="font-weight:900;">The Algorithm</a>
            </div>


        </div>
    </div>



     <!-- Slideshow -->
    <div class="col-container">
        <div class="w3-container w3-col s8">
            <div class="w3-display-container mySlides">
                <img src="static/images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">The NFL is committed to advancing progress in the
                        Diagnosis,
                        Prevention and Treatment of sports-related injuries</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="static/images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">The NFL's ongoing health and safety efforts include
                        support for
                        Independent medical research and Engineering advancements</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="static/images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">A commitment to work to better protect players and
                        make the
                        game safer, including enhancements to medical protocols and improvements to how our game is taught and
                        played</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="static/images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">The NFL evaluates and changes rules to evolve the
                        game and try to improve protections for players</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="static/images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">Since 2002 alone, the NFL has made 50 rules changes
                        intended to eliminate potentially dangerous tactics and reduce the risk of injuries</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="static/images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">Our Team's intention was to explore the data
                        leading to lower-body injuries and concussions to determine the features associated with these
                        injuries...</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="static/images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">... to create safer environment for our players,
                        while maintaining the features that define America's greatest sport</span>
                </div>
            </div>

            <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-xxlarge arrow-hover"></i></div>
            <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-xxlarge arrow-hover"></i></div>

        </div>



    <!-- This starts the Recent Injuries Web Scraping Portion -->


            <div class="w3-third">
                <div class="w3-card-4 w3-container" style="min-height:500px;width:97%">               
                    <div class="w3-col s4">
                        <h3 class="text-nowrap">15 Most Recent Injuries</h3>
                        <table class="table table-striped text-nowrap">
                            <thead class="table-header">
                                <!-- <th scope="col">Logo</th> -->
                                <th scope="col">Team</th>
                                <th scope="col">Player</th>
                                <th scope="col">Position</th>
                                <th scope="col">Injury</th>
                            </thead>
                            <tbody>
                                {% for element in data %}
                                <tr>
                                    <th class="font-weight-light" scope="col">{{element[0]}}</th>
                                    <th class="font-weight-light" scope="col">{{element[1]}}</th>
                                    <th class="font-weight-light" scope="col">{{element[2]}}</th>
                                    <th class="font-weight-light" scope="col">{{element[3]}}</th>
                                    <!-- <th class="font-weight-light" scope="col">{{element[4]}}</th> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
  
    <div class="w3-row-padding col-container">
        <div class="w3-col s2">
            <a href="{{url_for('replays')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-white">The Replays</h3>
                        <p class="w3-center">Explore the Field by Position and Type of Injury</p>
                    </header>
                    <img src="static/images/FieldInjuryPlaysTab.png" alt="Tableau Field" style="width:100%">
                </div>
            </a>
        </div>
        
        <div class="w3-col s2">
            <a href="{{url_for('stats')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-white">The Stats</h3>
                        <p class="w3-center">Interact with Injury Analyses</p>
                    </header>
                    <img src="static/images/Replays.png" alt="Bar Chart" style="width:100%">
                </div>
            </a>
        </div>
        
        <div class="w3-col s2">
            <a href="{{url_for('algorithm')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-white">The Algorithm</h3>
                        <p class="w3-center">Examine the Machine Learning Models</p>
                    </header>
                    <img src="static/images/K-Means.png" alt="ML Analysis" style="width:100%">
                </div>
            </a>
        </div>

        
        <div class="w3-col s2">
            <a href="{{url_for('design')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-white">The Design</h3>
                        <p class="w3-center">Investigate the Data Sources and Organization</p>
                    </header>
                    <img src="static/images/PuntAnalytics_DB.png" alt="Database Image" style="width:100%">
                </div>
            </a>
        </div>

        <div class="w3-col s2">
            <a href="{{url_for('delivery')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-white">The Delivery</h3>
                        <p class="w3-center">Walk through the Stakeholder Presentation</p>
                    </header>
                    <img src="static/images/PresentationSlide1.png" alt="ML 3d Image" style="width:100%">
                </div>
            </a>
        </div>

        <div class="w3-col s2">
            <a href="{{url_for('report')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-white">The Report</h3>
                        <p class="w3-center">Review the Complete Project Analysis</p>
                    </header>
                    <img src="static/images/database3.jpg" alt="Mathematical Slide" style="width:100%">
                </div>
            </a>
        </div>
    </div>

   
    <div class="w3-container">
        <hr>
        <h2 class="w3-center">The Team</h2>

        <div class="w3-col s3">
            <div class="w3-card-4">
                <header>
                    <a href="https://www.linkedin.com/in/justinpapreck/" target="_blank" rel="noopener noreferrer"><p class="w3-center w3-black w3-hover-dark-grey">Justin Papreck</p></a>
                </header>
            </div>
        </div>

        <div class="w3-col s2">
            <div class="w3-card-4">
                <header>
                    <a href="https://www.linkedin.com/in/izzy-i-48ab79101/" target="_blank" rel="noopener noreferrer"><p class="w3-center w3-black w3-hover-dark-grey">Izzy Irazoque</p></a>
                </header>
            </div>
        </div>

        <div class="w3-col s2">
            <div class="w3-card-4">
                <header>
                    <a href="https://www.linkedin.com/in/-amygaffney/" target="_blank" rel="noopener noreferrer">
                        <p class="w3-center w3-black w3-hover-dark-grey">Amy Gaffney</p></a>
                </header>
            </div>
        </div>

        <div class="w3-col s2">
            <div class="w3-card-4">
                <header>
                    <a href="" target="_blank" rel="noopener noreferrer">
                        <p class="w3-center w3-black w3-hover-dark-grey">Vincent Fan</p></a>
                </header>
            </div>
        </div>

        <div class="w3-col s3">
            <div class="w3-card-4">
                <header>
                    <a href="" target="_blank" rel="noopener noreferrer">
                        <p class="w3-center w3-black w3-hover-dark-grey">Kevin Yturralde</p></a>
                </header>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer class="w3-container w3-theme-dark">
        <p class=" w3-col s4">Find the source code on  <a href="https://github.com/FreshOats" class="w3-btn w3-theme-light"
                target="_blank"><span class="w3-xlarge">
                    <i class="fa fa-github"></i></span> GitHub</a></p>
        <a href="#" class="w3-button w3-black w3-right"><i class="fa fa-arrow-up w3-margin-right"></i>Top</a>
    </footer>




</body>    



<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Get the modal
var modal1 = document.getElementById('id01');
var modal2 = document.getElementById('id02');
var modal3 = document.getElementById('id03');
var modal4 = document.getElementById('id04');
var modal5 = document.getElementById('id05');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
if (event.target == modal1) {
    modal1.style.display = "none";
} else if (event.target == modal2) {
    modal2.style.display = "none";
} else if (event.target == modal3) {
    modal3.style.display = "none";
} else if (event.target == modal4) {
    modal4.style.display = "none";
} else if (event.target == modal5) {
    modal5.style.display = "none";
}
}

// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}


// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}



// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}

// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function currentDiv(n) {
    showDivs(slideIndex = n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demodots");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length };
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " w3-white";
}



</script>

</body>

</html>
