<!DOCTYPE html>
<html>

<head>
    <title>NFL Injury Analysis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <!-- Stats Ticker -->
    <header class="w3-container w3-padding" id="myHeader">
        <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">Injury Statistics - this will rotate through the findings</h1>
         
            


        </div>
    </header>

   
    <!-- Top Bar -->
    <div class="w3-container">
        <div class="w3-row w3-large blue-row">
            <div class="w3-col s1">
                <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" style="height:32px;">
            </div>
            <div class="w3-col s2">
                <a href="{{url_for('index')}}" class="button w3-block" style="font-weight:900;">The Main Page</a>
            </div>
            <div class="w3-col s3">
                <a href="{{url_for('replays')}}" class="button w3-block " style="font-weight:900;" target="_blank">The Replays</a>
            </div>
            <div class="w3-col s3">
                <a href="{{url_for('stats')}}" class="button w3-block " style="font-weight:900;" target="_blank">The Stats</a>
            </div>
            <div class="w3-col s3">
                <a href="{{url_for('algorithm')}}" class="button w3-block" style="font-weight:900;">The Algorithm</a>
            </div>
        </div>
    </div>

    <!-- Everything else -->
    <div class="w3-row w3-container">
        <div class="w3-center w3-padding-16">
            <span id="nfl-injury-analysis" class="w3-xxlarge w3-bottombar w3-border-dark-grey w3-padding-16">Machine Learning Models</span>
            <h3 class="w3-xlarge" style="margin-top:30px;"><b><em>Algorithms and methods used in the injury analyses</b></em></h3>
        </div>
    </div>
    <div class="w3-row w3-container">
        <div class="w3-col s6">
            <div class="w3-card-4">
                <h1 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">Lower-Body Injury Models</h1>
                <h3>The Data</h3>
                <p> The lower-body injury analysis was a very unbalanced dataset containing a small number of 
                    injuries with a large set of plays without injuries. The data without injuries functioned as a control group used 
                    for classification in a supervised analysis. The initial model used Random Forests, as it produced a very high
                    accuracy. However, the precision was the more important consideration with the imbalanced data, and the neural
                    network model provided a much higher precision than did the ensemble learning.</p>
                <br><br>
                <h3>The Learning Models:</h3>
                <ul>
                    <li>Random Forest</li>
                    <li>Neural Network - Deep Learning</li>
                </ul>
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-card-4">
                <h1 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">Concussion Models</h1>
                <h3>The Data</h3>
                <p> All instances of the concussion data were incidents with concussions, preventing us from using a supervised 
                    model. The best results were achieved with a PCA feature extraction, reducing the features to 3 dimensions,
                    more ideal for visualization. Following the feature extraction, K-Means clustering was used to classify the
                    data into the groups. Both a dendogram and an elbow curve were used to determine the number of cluseters to 
                    use. Because of the ambiguity incurred with the feature extraction, we used a Random Forest classifier to
                    determine which features had the strongest association with each of the outputs.</p>
                <br><br>
                <h3>The Learning Models:</h3>
                <ul>
                    <li>PCA Feature Extraction</li>
                    <li>K-Means Clustering</li>
                    <li>Random Forest Feature Analysis</li>
                </ul>
            </div>
        </div>
    </div>

    <h1 id="database-structure-and-utilization" class="w3-center w3-black w3-hover-white w3-padding-16" style="text-align:center">Predicting Lower-Body Injuries
            <a href="#" class="w3-button w3-hover-white w3-black w3-right"><i class="fa fa-arrow-up w3-margin-right"></i></a></h1>


    <div class="w3-row w3-container">
        <div class="w3-col s6">
            <div class="w3-card-4">
                <h2 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">Preliminary Ensemble Models
                </h2>
                <h3>Using a Balanced Random Forest Classifier</h3>
                <p> The goal with the initial analysis was to determine whether we could predict whether an injury occurred based 
                    on all feautures, such as temperature, turf, weather, etc., excluding the tracking data from the individual players.
                </p>
                <p>Due to the nature of the Injury Dataset being extremely imbalanced, we used the Balanced Random Forest
                    Classifier from the imbalanced learn library. In preparing the data for processing, the positions were
                    encoded in a single column by numbers, as described above, however the plays were encoded with
                    OneHotEncoder, giving us 3 columns for each of the plays.
                </p>
                
                <p>
                    In determining whether an injury occurred, the original model achieved a 58% accuracy and worse precision. 
                    We futher analyzed the feature importances.
                </p>
                <center>
                    <img src="../static/images/Prelim_RF.png" alt="Confusion Matrix" style="width:60%">
                </center>
            
                <br><br>
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-card-4">
                <h2 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">Preliminary Alternative Models</h2>
                <h3>Naive Bayes Classifiers and Sampling Applications</h3>
                <p>
                    The original dataset contained 260,000 rows with only 77 injuries. Because of this large difference,
                    we tried several approaches, including Undersampling and SMOTEENN, but ultimately, we just split the
                    data using train_test_split() from the scikit learn library both with and without stratification.
                </p>
                <p>
                    The next analyses utilized a Complement Naive Bayes analysis; this type of Naive Bayes is more
                    suitable for extremely imbalanced datasets. Similar to the Random Forest model, the results only
                    provided a 58% accuracy. Likewise, an EasyEnsemble Boosting algorithm was tested again with similar
                    results. From these analyses, we concluded that additional information would be necessary to further
                    improve our models. The Random Forest and Complement Naive Bayes are shown below:
                </p>
                <center>
                    <img src="../static/images/Naive_Bayes_Confusion.png" alt="Confusion Matrix" style="width:60%">
                </center>
                <br><br>
            </div>
        </div>
    </div>

        <h2 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">Improved Ensemble
            Models
        </h2>

        <div class="w3-row w3-container">
            <div class="w3-col s6">
                <div class="w3-card-4">
                    <h3>Was there an injury?</h3>
                    <p>
                        Futher development of the dataset included the spatial parameters that should gave more predictive
                        capability, indicating the great impact on the potential for injury. Using these data with random
                        sampling the non-injury data were reduced to achieve a 100:1 distribution from the 3000:1 distribution
                        we started with. Once the spatial data were added, this dataset expanded substantially, making a big
                        impact on processing. Each of the Random Forest models was able to predict with 99% accuracy, and few
                        to no false negatives:
                    </p>

                    
                    <center>
                        <img src="../static/images/RF_IsInjured.png" alt="Confusion Matrix" style="width:60%">
                    </center><br>
                    <p>
                        The adaptations from the original model to the final models for the
                        Injury Data was the addition and cleaning of the tracking data. With the addition of the
                        tracking information, the Balanced Random Forest Classifier with 10 estimators provided a
                        99.96% accuracy, a much higher accuracy than was achieved with the any of the models not
                        including the tracking data. With the addition of the tracking data, the number of rows
                        increased to several thousand. In addition to the 99.97% accuracy, this model yielded under 5
                        false negatives, and 145 false positives from the dataset including 550,000 true negatives and
                        5500 true positives.
                    </p>
                    <p>
                        In the feature analysis, we confirmed that the strongest feature in the feature analysis was
                        the number of days played, closely followed by the temperature, and the time of the play
                        during the game. Other stronger predictors were the player's position and the location along
                        the length of the field.
                    </p><br>

                    <h3>Was there a severe injury?</h3>
                    <center>
                        <img src="../static/images/RF_IsSevere.png" alt="Confusion Matrix" style="width:60%">
                    </center><br>
                    <p>
                        Was the injury severe? The same process as above was followed, yielding a 99.97% accuracy and
                        a lower, 90.35% precision.
                    </p><br>
               
                    <h3>What part of the body was injured?</h3>
                    <center>
                        <img src="../static/images/RF_InjuryType.png" alt="Confusion Matrix" style="width:60%">
                    </center><br>
                    <p>
                        What type of injury was predicted? The overall accuracy of this model with 4 outputs was
                        again 98.59%, but the precision started to really drop:
                        <ul>
                            <li>Foot injury, 78.94% precision</li>
                            <li>Ankle injury, 42.61% precision</li>
                            <li>Knee injury, 27.25% precision</li>
                        </ul>
                    </p><br><br>

                </div>
            </div>
            <div class="w3-col s6">
                <div class="w3-card-4">
                    <h3>What was the duration of the injury?</h3>
                    <center>
                        <img src="../static/images/RF_InjuryDuration.png" alt="Confusion Matrix" style="width:60%">
                    </center><br>
                    <p>
                        What was the predicted duration of injury? The overall accuracy remains high at 99.77%, but
                        the precision continues to drop:
                        <ul>
                            <li>Under 1 day, 60.00% precision</li>
                            <li>Under 1 week, 35.67% precision</li>
                            <li>Under 4 weeks, 56.12% precision</li>
                            <li>Under 6 weeks, 63.75% precision</li>
                        </ul>
                    </p><br>

                    <h3>Final Random Forest Results Summarized</h3>
                    <p>
                        The Random Forest Classifiers predicting multiple outcomes were more difficult to predict
                        the accuracy and recall specifically, and they were not possible to evaluate like this for
                        the neural network model. These results were summarized in the following table:
                    </p>
                    <center>
                        <table class="table table-striped text-nowrap" style="width:80%">
                            <thead class="table-header">
                                <th scope="col">Test</th>
                                <th scope="col">Model</th>
                                <th scope="col">Accuracy</th>
                                <th scope="col">Precision</th>
                                <th scope="col">Recall</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="font-weight-light"  scope="col">Is Injured</th>
                                    <th class="font-weight-light"  scope="col">Random Forest</th>
                                    <th class="font-weight-light"  scope="col">0.9995</th>
                                    <th class="font-weight-light"  scope="col">0.9743</th>
                                    <th class="font-weight-light"  scope="col">0.9995</th>
                                </tr>
                                <tr>
                                    <th class="font-weight-light"  scope="col">Severe Injury</th>
                                    <th class="font-weight-light"  scope="col">Random Forest</th>
                                    <th class="font-weight-light"  scope="col">0.9998</th>
                                    <th class="font-weight-light"  scope="col">0.9035</th>
                                    <th class="font-weight-light"  scope="col">1.0000</th>
                                </tr>
                                <tr>
                                    <th class="font-weight-light"  scope="col">Injured Foot</th>
                                    <th  class="font-weight-light" scope="col">Random Forest</th>
                                    <th  class="font-weight-light" scope="col">0.9860</th>
                                    <th class="font-weight-light"  scope="col">0.7894</th>
                                    <th  class="font-weight-light" scope="col">1.0000</th>
                                </tr>
                                <tr>
                                    <th  class="font-weight-light" scope="col">Injured Ankle</th>
                                    <th  class="font-weight-light" scope="col">Random Forest</th>
                                    <th  class="font-weight-light" scope="col">0.9860</th>
                                    <th  class="font-weight-light" scope="col">0.4261</th>
                                    <th  class="font-weight-light" scope="col">0.9823</th>
                                </tr>
                                <tr>
                                    <th class="font-weight-light"  scope="col">Injured Knee</th>
                                    <th class="font-weight-light"  scope="col">Random Forest</th>
                                    <th class="font-weight-light"  scope="col">0.9860</th>
                                    <th class="font-weight-light"  scope="col">0.2745</th>
                                    <th class="font-weight-light"  scope="col">0.9799</th>
                                </tr>
                                <tr>
                                    <th  class="font-weight-light" scope="col">Duration - Under 1 Week</th>
                                    <th  class="font-weight-light" scope="col">Random Forest</th>
                                    <th  class="font-weight-light" scope="col">0.9977</th>
                                    <th  class="font-weight-light" scope="col">0.6000</th>
                                    <th  class="font-weight-light" scope="col">1.0000</th>
                                </tr>
                                <tr>
                                    <th class="font-weight-light"  scope="col">Druation - 1-4 Weeks</th>
                                    <th class="font-weight-light"  scope="col">Random Forest</th>
                                    <th class="font-weight-light"  scope="col">0.9977</th>
                                    <th class="font-weight-light"  scope="col">0.3567</th>
                                    <th  class="font-weight-light" scope="col">0.9995</th>
                                </tr>
                                <tr>
                                    <th  class="font-weight-light" scope="col">Duration - 4-6 Weeks</th>
                                    <th  class="font-weight-light" scope="col">Random Forest</th>
                                    <th class="font-weight-light"  scope="col">0.9977</th>
                                    <th class="font-weight-light"  scope="col">0.5612</th>
                                    <th class="font-weight-light"  scope="col">1.0000</th>
                                </tr>
                                <tr>
                                    <th class="font-weight-light"  scope="col">Duration - Over 6 Weeks</th>
                                    <th  class="font-weight-light" scope="col">Random Forest</th>
                                    <th class="font-weight-light" scope="col">0.9977</th>
                                    <th class="font-weight-light"  scope="col">0.6375</th>
                                    <th class="font-weight-light"  scope="col">1.0000</th>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                    <br><br>
                </div>
            </div>

        <div class="w3-col s6">
            <div class="w3-card-4">
                <h2 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">Deep Learning Analysis</h2>
                <h3>Neural Network Model and Changes to the Initial Models</h3>
                <p>
                    In the final model, there were some changes made from the preliminary models:
                    <ul>
                        <li>
                            The positive injury data were removed, a random sampler was used to reduce the
                            non-injury data, reducing the control data such that there would be a 99:1 balance of
                            data. The injuries were then added back to the dataset
                        </li>
                        <li>
                            When splitting the data in the test_train_split, the data was stratified based on the
                            injury data
                        </li>
                        <li>
                            The data were scaled using StandardScaler before creating the neural network model
                        </li>
                        <li>
                            Several different parameter configurations were tested with the neural networks,
                            starting with the lowest complexity - a single layer with increasing numbers of nodes -
                            to higher complexity - two layers with increasing the numbers of nodes in either layer
                        </li>
                        <li>
                            The final model used 256 nodes in the first hidden layer and 128 nodes in the second
                            hidden layer of a sequential model
                        </li>
                        <li>
                            The hidden layers each used Relu activation and a
                            Sigmoid output. Compiling used a binary crossentropy loss model because each of the
                            outputs were binary outcomes, as opposed to a categorical crossentropy model
                        </li>
                        <li>
                            Though there were categorical ouputs in some of the models, each of the outputs remained a
                            binary classification
                        </li>
                        <li>
                            The optimizer used was an adam optimizer
                        </li>
                        <li>
                            In order to compare the outcomes of this model with the Random Forest model, the metrics tracked were accuracy,
                            precision and recall
                        </li>
                    </ul>
                </p>
                <br>
                <h3>The Results</h3>
                <center>
                    <table class="table table-striped text-nowrap" style="width:80%">
                        <thead class="table-header">
                            <th scope="col">Test</th>
                            <th scope="col">Model</th>
                            <th scope="col">Accuracy</th>
                            <th scope="col">Loss</th>
                            <th scope="col">Precision</th>
                            <th scope="col">Recall</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="font-weight-light" scope="col">Is Injured</th>
                                <th class="font-weight-light" scope="col">Neural Network</th>
                                <th class="font-weight-light" scope="col">0.9956</th>
                                <th class="font-weight-light" scope="col">0.0127</th>
                                <th class="font-weight-light" scope="col">0.9412</th>
                                <th class="font-weight-light" scope="col">0.5969</th>
                            </tr>
                            <tr>
                                <th class="font-weight-light" scope="col">Severe Injury</th>
                                <th class="font-weight-light" scope="col">Neural Network</th>
                                <th class="font-weight-light" scope="col">0.9997</th>
                                <th class="font-weight-light" scope="col">0.0009</th>
                                <th class="font-weight-light" scope="col">0.9844</th>
                                <th class="font-weight-light" scope="col">0.9533</th>
                            </tr>
                            <tr>
                                <th class="font-weight-light" scope="col">Injury Type (4-class)</th>
                                <th class="font-weight-light" scope="col">Neural Network</th>
                                <th class="font-weight-light" scope="col">0.9993</th>
                                <th class="font-weight-light" scope="col">0.0016</th>
                                <th class="font-weight-light" scope="col">0.9994</th>
                                <th class="font-weight-light" scope="col">0.9991</th>
                            </tr>
                            <tr>
                                <th class="font-weight-light" scope="col">Injured Foot</th>
                                <th class="font-weight-light" scope="col">Neural Network</th>
                                <th class="font-weight-light" scope="col">0.9998</th>
                                <th class="font-weight-light" scope="col">0.0006</th>
                                <th class="font-weight-light" scope="col">1.0000</th>
                                <th class="font-weight-light" scope="col">0.7703</th>
                            </tr>
                            <tr>
                                <th class="font-weight-light" scope="col">Injured Ankle</th>
                                <th class="font-weight-light" scope="col">Neural Network</th>
                                <th class="font-weight-light" scope="col">0.9994</th>
                                <th class="font-weight-light" scope="col">0.0023</th>
                                <th class="font-weight-light" scope="col">0.9003</th>
                                <th class="font-weight-light" scope="col">0.9638</th>
                            </tr>
                            <tr>
                                <th class="font-weight-light" scope="col">Injured Knee</th>
                                <th class="font-weight-light" scope="col">Neural Network</th>
                                <th class="font-weight-light" scope="col">0.9995</th>
                                <th class="font-weight-light" scope="col">0.0010</th>
                                <th class="font-weight-light" scope="col">0.9792</th>
                                <th class="font-weight-light" scope="col">0.9115</th>
                            </tr>
                            <tr>
                                <th class="font-weight-light" scope="col">Injury Duration (5-class)</th>
                                <th class="font-weight-light" scope="col">Neural Network</th>
                                <th class="font-weight-light" scope="col">0.9994</th>
                                <th class="font-weight-light" scope="col">0.0009</th>
                                <th class="font-weight-light" scope="col">0.9992</th>
                                <th class="font-weight-light" scope="col">0.9994</th>
                            </tr>
                        </tbody>
                    </table>
                </center><br><br>
            </div>
        </div>
    </div>

    <h1 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">Concussion Models</h1>

    <div class="w3-row w3-container">
        <div class="w3-col s6">
            <div class="w3-card-4">
                <h3 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">Agglomerative Clustering</h3>
                <p>
                    Similar to the Injury Analysis, the tables were merged including the tracking data,
                    creating a very large dataset. In order to perform the clustering analysis, there are
                    several ways to break the data into different clusters. The first approach was using
                    Agglomerative Clustering, which required a size reduction to create a dendogram. The
                    dendogram shows the highest break at two, followed by three clear clusters.
                </p>
                <p>
                    This analysis was performed with 3 clusters prior to breaking up into two sets using
                    train_test_split for feature classification. A Balanced Random Forest Classifier was
                    used with 100 estimators to determine which features have the highest correlation with
                    the different classes. In this case, the highest correlation was the Twist, the
                    difference between the orientation of the player and the direction of movement.
                </p>
                <center>
                    <img src="../static/images/Dendogram_Concussion_Data.png" alt="Confusion Matrix" style="width:90%">
                </center><br>
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-card-4">
                <h3 id="topic-and-reason" class="w3-center w3-black w3-hover-white w3-padding-16">K-Means Clustering</h3>
                <p>
                    Following the Agglomerative Clustering, we used PCA data extraction to reduce the
                    dimensions to 3 components. Testing for the ideal number of clusters for K-Means
                    analysis, we utilized an elbow curve, where there was a very distinct bend at k=2. The
                    K-Means clustering was performed with 2 clusters. The K-Means analysis was plotted
                    using hvplot as shown below:
                </p>
                <center>
                    <img src="../static/images/Elbow_Curve1.png" alt="Confusion Matrix" style="width:60%">
                </center><br>
                <center>
                    <img src="../static/images/K-Means.png" alt="Confusion Matrix" style="width:70%">
                </center><br>
            </div>
        </div>
    </div>

    <!-- Bottom Toenails -->
    <div class="w3-row-padding col-container">
        <div class="w3-col s2">
            <a href="{{url_for('replays')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Replays</h3>
                        <p class="w3-center">Explore the Field by Position and Type of Injury</p>
                    </header>
                    <img src="../static/images/FieldInjuryPlaysTab.png" alt="Tableau Field" style="width:100%">
                </div>
            </a>
        </div>
    
        <div class="w3-col s2">
            <a href="{{url_for('stats')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Stats</h3>
                        <p class="w3-center">Interact with Injury Analyses</p>
                    </header>
                    <img src="../static/images/Replays.png" alt="Bar Chart" style="width:100%">
                </div>
            </a>
        </div>
    
        <div class="w3-col s2">
            <a href="{{url_for('algorithm')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Algorithm</h3>
                        <p class="w3-center">Examine the Machine Learning Models</p>
                    </header>
                    <img src="../static/images/K-Means.png" alt="ML Analysis" style="width:100%">
                </div>
            </a>
        </div>
    
    
        <div class="w3-col s2">
            <a href="{{url_for('design')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Design</h3>
                        <p class="w3-center">Investigate the Data Sources and Organization</p>
                    </header>
                    <img src="../static/images/PuntAnalytics_DB.png" alt="Database Image" style="width:100%">
                </div>
            </a>
        </div>
    
        <div class="w3-col s2">
            <a href="{{url_for('delivery')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Delivery</h3>
                        <p class="w3-center">Walk through the Stakeholder Presentation</p>
                    </header>
                    <img src="../static/images/PresentationSlide1.png" alt="ML 3d Image" style="width:100%">
                </div>
            </a>
        </div>
    
        <div class="w3-col s2">
            <a href="{{url_for('report')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Report</h3>
                        <p class="w3-center">Review the Complete Project Analysis</p>
                    </header>
                    <img src="../static/images/database3.jpg" alt="Mathematical Slide" style="width:100%">
                </div>
            </a>
        </div>
    </div>
    
    
    <!-- Footer -->
    <footer class="w3-container blue-row">
        <p class="w3-large w3-col s4">Find the source code on
            <a href="https://github.com/FreshOats" class="button2" target="_blank"><span class="w3-xlarge">
                    <i class="fa fa-github icon layered"></i></span>GitHub</a>
        </p>
        <a href="#" class="button w3-right"><i class="fa fa-arrow-up w3-margin-right"></i>Top</a>
    </footer>

</body>    



<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>


</script>


</html>
