<!DOCTYPE html>
<html>

<head>
    <title>NFL Injury Analysis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- Stats Ticker -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">Injury Statistics - this will rotate through the findings</h1>
         
            


        </div>
    </header>

   
    <!-- Side Dropdown Modals -->
    <div class="w3-container">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s1">
                <!-- <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-light-gray"></i> -->
                <div class="w3-dropdown-hover">
                    <button class="w3-button w3-white">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <button class="w3-button w3-block" onclick="document.getElementById('id01').style.display='block'"
                            style="font-weight:900;">The Project</button>
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-card-4 w3-animate-top">
                                <header class="w3-container w3-card-4 w3-theme-l1">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h3>The Project</h3>
                                </header>
                                <div class="w3-container">
                                    <p>This project investigates lower-body injuries and concussions sustained in the NFL over sets
                                        of 2 seasons in order to attempt to determine factors associated with such injuries. We hope to provide
                                        insights to the factors correlating with high risk to protect players while maintaining the game as
                                        much as is safely possible.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="w3-button w3-block" onclick="document.getElementById('id02').style.display='block'"
                                style="font-weight:900;">The Process</button>
                            <div id="id02" class="w3-modal">
                                <div class="w3-modal-content w3-card-4 w3-animate-top">
                                    <header class="w3-container w3-card-4 w3-theme-l1">
                                        <span onclick="document.getElementById('id02').style.display='none'"
                                            class="w3-button w3-display-topright">&times;</span>
                                        <h3>The Process</h3>
                                    </header>
                                    <div class="w3-padding">
                                        <li>Acquire and store the data</li>
                                        <li>Explore the data</li>
                                        <li>Clean the data</li>
                                        <li>Transform the data</li>
                                        <li>Establish Machine Learning Models</li>
                                        <li>Analyze the data</li>
                                        <li>Present the results</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div>
                            <button class="w3-button w3-block" onclick="document.getElementById('id03').style.display='block'"
                                style="font-weight:900;">The Features</button>
                            <div id="id03" class="w3-modal">
                                <div class="w3-modal-content w3-card-4 w3-animate-top">
                                    <header class="w3-container w3-card-4 w3-theme-l1">
                                        <span onclick="document.getElementById('id03').style.display='none'"
                                            class="w3-button w3-display-topright">&times;</span>
                                        <h3>The Features</h3>
                                    </header>
                                    <div class="w3-padding">
                                        <p>This project features numerous types of media to explore the injuries in the NFL:</p>
                                        <li>The Plays - interactive football field that allows the user to explore injurious plays</li>
                                        <li>The Replays - interactive charts that allow the user to filter conditions and plays</li>
                                        <li>Recent Injuries - shows for most recent injuries that have made headlines</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>                         
                            <button class="w3-button w3-block" onclick="document.getElementById('id04').style.display='block'"
                                style="font-weight:900;">The Reports</button>
                            <div id="id04" class="w3-modal">
                                
                                <div class="w3-modal-content w3-card-4 w3-animate-top">
                                    <header class="w3-container w3-card-4 w3-theme-l1">
                                        <span onclick="document.getElementById('id04').style.display='none'"
                                            class="w3-button w3-display-topright">&times;</span>
                                        <h3>The Reports</h3>
                                    </header>
                                    <div class="w3-padding">
                                        <ul class="w3-ul w3-border w3-hoverable">
                                            <li><a href="presentation.html" class="w3-bar-item w3-button w3-xlarge" target="_blank">Highlights and Recap</a></li>
                                            <li><a href="report.html" class="w3-bar-item w3-button w3-xlarge" target="_blank">Play-by-Play with Stats - Full Analysis</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="w3-col s3">
                <a href="replays.html" class="w3-button w3-block" style="font-weight:900;">The Replays</a>
            </div>
            <div class="w3-col s3">
                <a href="analysis.html" class="w3-button w3-block" style="font-weight:900;">The Stats</a>
            </div>
            <div class="w3-col s3">
                <a href="algorithm.html" class="w3-button w3-block" style="font-weight:900;">The Algorithm</a>
            </div>


        </div>
    </div>



     <!-- Slideshow -->
    <div class="col-container">
        <div class="w3-container w3-col s8">
            <div class="w3-display-container mySlides">
                <img src="images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">The NFL is committed to advancing progress in the
                        Diagnosis,
                        Prevention and Treatment of sports-related injuries</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">The NFL's ongoing health and safety efforts include
                        support for
                        Independent medical research and Engineering advancements</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">A commitment to work to better protect players and
                        make the
                        game safer, including enhancements to medical protocols and improvements to how our game is taught and
                        played</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">The NFL evaluates and changes rules to evolve the
                        game and try to improve protections for players</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">Since 2002 alone, the NFL has made 50 rules changes
                        intended to eliminate potentially dangerous tactics and reduce the risk of injuries</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">Our Team's intention was to explore the data
                        leading to lower-body injuries and concussions to determine the features associated with these
                        injuries...</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="images/fact.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32" style="text-shadow:2px 2px 0 rgb(40, 57, 94)">
                    <span class="w3-text-white w3-xlarge w3-animate-bottom">... to create safer environment for our players,
                        while maintaining the features that define America's greatest sport</span>
                </div>
            </div>

            <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-xxlarge w3-hover-text-blue"></i></div>
            <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-xxlarge w3-hover-text-blue"></i></div>

        </div>



    <!-- This starts the Recent Injuries Web Scraping Portion -->


            <div class="w3-third">
                <div class="w3-card-4 w3-container" style="min-height:500px">               
                    <div class="col-md-8">
                        <h3>15 Most Recent NFL Injuries</h3>
                        <div class="bg-white shadow p-4 rounded results">
                            {% if results %}
                            {% for result in results %}
                            <p> {{ result | striptags }} </p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
  
    <div class="w3-row-padding col-container">
        <div class="w3-col s2">
            <a href="replays.html">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-dark-grey">The Replays</h3>
                        <p class="w3-center w3-hover-dark-grey">Explore the Field by Position and Type of Injury</p>
                    </header>
                    <img src="images/FieldInjuryPlaysTab.png" alt="Tableau Field" style="width:100%">
                </div>
            </a>
        </div>
        
        <div class="w3-col s2">
            <a href="stats.html">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-dark-grey">The Stats</h3>
                        <p class="w3-center w3-hover-dark-grey">Interact with Injury Analyses</p>
                    </header>
                    <img src="images/Replays.png" alt="Bar Chart" style="width:100%">
                </div>
            </a>
        </div>
        
        <div class="w3-col s2">
            <a href="algorithm.html">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-dark-grey">The Algorithm</h3>
                        <p class="w3-center w3-hover-dark-grey">Examine the Machine Learning Models</p>
                    </header>
                    <img src="images/K-Means.png" alt="ML Analysis" style="width:100%">
                </div>
            </a>
        </div>

        
        <div class="w3-col s2">
            <a href="design.html">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-dark-grey">The Design</h3>
                        <p class="w3-center w3-hover-dark-grey">Investigate the Data Sources and Organization</p>
                    </header>
                    <img src="images/PuntAnalytics_DB.png" alt="Database Image" style="width:100%">
                </div>
            </a>
        </div>

        <div class="w3-col s2">
            <a href="presentation.html" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-dark-grey">The Delivery</h3>
                        <p class="w3-center w3-hover-dark-grey">Walk through the Stakeholder Presentation</p>
                    </header>
                    <img src="images/PresentationSlide1.png" alt="ML 3d Image" style="width:100%">
                </div>
            </a>
        </div>

        <div class="w3-col s2">
            <a href="report.html">
                <div class="w3-card-4">
                    <header>
                        <h3 class="w3-center w3-black w3-hover-dark-grey">The Report</h3>
                        <p class="w3-center w3-hover-dark-grey">Review the Project Findings - Complete Analysis</p>
                    </header>
                    <img src="images/PresentationSlide1.png" alt="Presentation Slide" style="width:100%">
                </div>
            </a>
        </div>
    </div>

   
    <div class="w3-container">
        <hr>
        <h2 class="w3-center">The Team</h2>

        <div class="w3-col s3">
            <div class="w3-card-4">
                <header>
                    <a href="https://www.linkedin.com/in/justinpapreck/" target="_blank" rel="noopener noreferrer"><p class="w3-center w3-black w3-hover-dark-grey">Justin Papreck</p></a>
                </header>
                <!-- <img src="static/images/PresentationSlide1.png" alt="Injury Venn Diagram" style="width:100%"> -->
            </div>
        </div>

        <div class="w3-col s2">
            <div class="w3-card-4">
                <header>
                    <a href="https://www.linkedin.com/in/izzy-i-48ab79101/" target="_blank" rel="noopener noreferrer"><p class="w3-center w3-black w3-hover-dark-grey">Izzy Irazoque</p></a>
                </header>
                <!-- <img src="static/images/PresentationSlide1.png" alt="Injury Venn Diagram" style="width:100%"> -->
            </div>
        </div>

        <div class="w3-col s2">
            <div class="w3-card-4">
                <header>
                    <a href="https://www.linkedin.com/in/-amygaffney/" target="_blank" rel="noopener noreferrer">
                        <p class="w3-center w3-black w3-hover-dark-grey">Amy Gaffney</p></a>
                </header>
                <!-- <img src="static/images/PresentationSlide1.png" alt="Injury Venn Diagram" style="width:100%"> -->
            </div>
        </div>

        <div class="w3-col s2">
            <div class="w3-card-4">
                <header>
                    <a href="" target="_blank" rel="noopener noreferrer">
                        <p class="w3-center w3-black w3-hover-dark-grey">Vincent Fan</p></a>
                </header>
                <!-- <img src="static/images/PresentationSlide1.png" alt="Injury Venn Diagram" style="width:100%"> -->
            </div>
        </div>

        <div class="w3-col s3">
            <div class="w3-card-4">
                <header>
                    <a href="" target="_blank" rel="noopener noreferrer">
                        <p class="w3-center w3-black w3-hover-dark-grey">Kevin Yturralde</p></a>
                </header>
                <!-- <img src="static/images/PresentationSlide1.png" alt="Injury Venn Diagram" style="width:100%"> -->
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer class="w3-container w3-theme-dark">
        <p class=" w3-col s4">Find out source code on  <a href="https://github.com/FreshOats" class="w3-btn w3-theme-light"
                target="_blank"><span class="w3-xlarge">
                    <i class="fa fa-github"></i></span> GitHub</a></p>
        <a href="#" class="w3-button w3-black w3-right"><i class="fa fa-arrow-up w3-margin-right"></i>Top</a>
    </footer>




</body>    



<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Get the modal
var modal1 = document.getElementById('id01');
var modal2 = document.getElementById('id02');
var modal3 = document.getElementById('id03');
var modal4 = document.getElementById('id04');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
if (event.target == modal1) {
    modal1.style.display = "none";
} else if (event.target == modal2) {
    modal2.style.display = "none";
} else if (event.target == modal3) {
    modal3.style.display = "none";
} else if (event.target == modal4) {
    modal4.style.display = "none";
}
}

// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}


// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}



// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}

// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function currentDiv(n) {
    showDivs(slideIndex = n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demodots");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length };
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " w3-white";
}



</script>

</body>

</html>
