<!DOCTYPE html>
<html>

<head>
    <title>NFL Injury Analytics</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <!-- Stats Ticker -->
    <!-- The grid: four columns -->
    <div class="row">
        <div class="column">
            <img src="../static/images/Post_Injuries_Days_Played.png" width="100%" alt="Days Played"
                onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="../static/images/Post_Injuries_Duration.png" alt="Duration" width="100%" onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="../static/images/Post_Injuries_Duration_Field_Type.png" alt="Duration Field Type" width="100%"
                onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="../static/images/Post_Injuries_Field_Type.png" alt="Field Type" width="100%"
                onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="../static/images/Post_Injuries_Total.png" alt="Total" width="100%" onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="../static/images/Post_Injuries_Position.png" alt="Position" width="100%" onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="../static/images/Post_Injury_Duration_Position.png" alt="Position Duration" width="100%"
                onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="../static/images/Post_Concussion_Field_Type.png" alt="Concussion Field Type" width="100%"
                onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="../static/images/Post_Concussion_Position.png" alt="Concussion Position" width="100%"
                onclick="myFunction(this);">
        </div>
    </div>
    
    <!-- The expanding image container -->
    <div class="container">
        <!-- Close the image -->
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    
        <!-- Expanded image -->
        <img id="expandedImg" style="width:50%">
    
        <!-- Image text -->
        <div id="imgtext"></div>
    </div>

   
    <!-- Top Bar -->
    <div class="w3-container">
        <div class="w3-row w3-large blue-row">
            <div class="w3-col s1">
                <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg"
                    style="height:32px;">
            </div>
            <div class="w3-col s2">
                <a href="{{url_for('index')}}" class="button w3-block" style="font-weight:900;">The Main Page</a>
            </div>
            <div class="w3-col s3">
                <a href="{{url_for('replays')}}" class="button w3-block " style="font-weight:900;" target="_blank">The
                    Replays</a>
            </div>
            <div class="w3-col s3">
                <a href="{{url_for('stats')}}" class="button w3-block " style="font-weight:900;" target="_blank">The
                    Stats</a>
            </div>
            <div class="w3-col s3">
                <a href="{{url_for('algorithm')}}" class="button w3-block" style="font-weight:900;">The Algorithm</a>
            </div>
        </div>
    </div>

    <!-- Start the Main Body part of the page -->

    <div class="w3-row w3-container w3-row-padding">
        <div class="w3-center w3-padding-16">
            <span class="w3-xxlarge w3-bottombar w3-border-dark-grey w3-padding-16">The Data Sources</span>
        </div>
        <div class="w3-col s6">
            <div class="w3-card-4">
                <header>
                    <h1 class="toenail w3-padding-16">Injury Analytics</h1>
                    <p class="w3-center" style="text-align:center">Lower-body injury data was acquired from "NFL 1st and Future - Analytics"
                        (Kaggle) 
                    </p>
                </header>
                <center>
                    <a href="https://www.kaggle.com/competitions/nfl-playing-surface-analytics/data">
                        <img src="../static/images/analytics-fandf.png" alt="Kaggle Image 1" style="width:80%">
                    </a>
                </center>
                <br>
                <p class="w3-padding-8 w3-margin-left w3-margin-right" style="text-align:justify; text-indent: 40px;">The data from this competition provided 
                    information on gross physiological injuries, such as foot, knee, and ankle injuries across 2 seasons.
                    While the purpose of the competition was to assess the injuries with respect to the turf of the field, our 
                    intention was to use these data to assess all parameters correlating with these types of injuries compared to the concussion
                    data from the other datasets.</p>                
                <p class="w3-margin-left w3-margin-right" style="text-align:justify; text-indent: 40px;">
                    These data were stored in a PostgreSQL database, using SQL Alchemy to pull the data from each table for processing,
                    with the exception of the tracking data. The size of the tracking data was prohibitively large for SQL Alchemy on a
                    local server, with over 76 million rows. To import this data in the Python files, the data table was downloaded as a csv file from the
                    SQL server into a folder labeled NFL_Turf, prior to being read into the Python file. The data were connected with the
                    following Entity Relational Diagram (ERD).
                </p>
                <div class="w3-center w3-padding-16">
                    <img src="../static/images/database1.png" alt="Injuries ERD" style="width:50%">
                </div>
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-card-4">
                <header>
                    <h1 class="toenail w3-padding-16">Concussion Analytics</h1>
                    <p class="w3-center" style="text-align:center">Concussion data was acquired from "NFL Punt Analytics Competition"
                        (Kaggle)
                    </p>
                </header>
                <center>
                    <a href="https://www.kaggle.com/competitions/NFL-Punt-Analytics-Competition/data">
                        <img src="../static/images/puntanalytics_fandf.png" alt="Kaggle Image 2" style="width:80%">
                    </a>
                </center>
                <br>
                <p class="w3-padding-8 w3-margin-left w3-margin-right" style="text-align:justify; text-indent: 40px;">The data from this competition provided 
                    information regarding concussions during punt plays across 2 seasons. Our goal was to use these data and investigate the 
                    parameters in comparison with those from the lower-body injuries. We used 5 of the complete datasets
                    available from the source. Upon storage in our database, 4 tables were merged using PG Admin and used to create a new
                    table called punt_analytics. This table was imported into the Python files using SQL Alchemy as were done with the Injury tables. Also similar to the
                    Injury data, the ngs table (tracking data) was too large to import using SQL Alchemy and again were downloaded locally and imported
                    to Python using Pandas into a folder labeled NFL_Punt. Only the original data are represented in the ERD.
                </p>     
                <div class="w3-center w3-padding-16">
                    <img src="../static/images/database2.jpg" alt="Injuries ERD" style="width:95%">
                </div>
            </div>
        </div>
    </div>




    
    <!-- Bottom Toenails -->
    <div class="w3-row-padding col-container">
        <div class="w3-col s2">
            <a href="{{url_for('replays')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Replays</h3>
                        <p class="w3-center">Explore the Field by Position and Type of Injury</p>
                    </header>
                    <img src="../static/images/FieldInjuryPlaysTab.png" alt="Tableau Field" style="width:100%">
                </div>
            </a>
        </div>
    
        <div class="w3-col s2">
            <a href="{{url_for('stats')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Stats</h3>
                        <p class="w3-center">Interact with Injury Analyses</p>
                    </header>
                    <img src="../static/images/Replays.png" alt="Bar Chart" style="width:100%">
                </div>
            </a>
        </div>
    
        <div class="w3-col s2">
            <a href="{{url_for('algorithm')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Algorithm</h3>
                        <p class="w3-center">Examine the Machine Learning Models</p>
                    </header>
                    <img src="../static/images/K-Means.png" alt="ML Analysis" style="width:100%">
                </div>
            </a>
        </div>
    
    
        <div class="w3-col s2">
            <a href="{{url_for('design')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Design</h3>
                        <p class="w3-center">Investigate the Data Sources and Organization</p>
                    </header>
                    <img src="../static/images/PuntAnalytics_DB.png" alt="Database Image" style="width:100%">
                </div>
            </a>
        </div>
    
        <div class="w3-col s2">
            <a href="{{url_for('delivery')}}" target="_blank">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Delivery</h3>
                        <p class="w3-center">Walk through the Stakeholder Presentation</p>
                    </header>
                    <img src="../static/images/PresentationSlide1.png" alt="ML 3d Image" style="width:100%">
                </div>
            </a>
        </div>
    
        <div class="w3-col s2">
            <a href="{{url_for('report')}}">
                <div class="w3-card-4">
                    <header>
                        <h3 class="toenail">The Report</h3>
                        <p class="w3-center">Review the Complete Project Analysis</p>
                    </header>
                    <img src="../static/images/database3.jpg" alt="Mathematical Slide" style="width:100%">
                </div>
            </a>
        </div>
    </div>

   
    

    <!-- Footer -->
    <footer class="w3-container blue-row"><NOBR>
        <p class="w3-large w3-col s4">Find the source code on
            <a href="https://github.com/FreshOats" class="button2" target="_blank"><span class="w3-xlarge">
                    <i class="fa fa-github icon layered"></i></span>GitHub</a>
        </p></NOBR>
        <a href="#" class="button w3-right"><i class="fa fa-arrow-up w3-margin-right"></i>Top</a>
    </footer>




</body>    



<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Get the modal
// var modal1 = document.getElementById('id01');
// var modal2 = document.getElementById('id02');
// var modal3 = document.getElementById('id03');
// var modal4 = document.getElementById('id04');

// // When the user clicks anywhere outside of the modal, close it
// window.onclick = function (event) {
// if (event.target == modal1) {
//     modal1.style.display = "none";
// } else if (event.target == modal2) {
//     modal2.style.display = "none";
// } else if (event.target == modal3) {
//     modal3.style.display = "none";
// } else if (event.target == modal4) {
//     modal4.style.display = "none";
// }
// }

// // Side navigation
// function w3_open() {
//   var x = document.getElementById("mySidebar");
//   x.style.width = "100%";
//   x.style.fontSize = "40px";
//   x.style.paddingTop = "10%";
//   x.style.display = "block";
// }
// function w3_close() {
//   document.getElementById("mySidebar").style.display = "none";
// }


// // Accordions
// function myAccFunc(id) {
//   var x = document.getElementById(id);
//   if (x.className.indexOf("w3-show") == -1) {
//     x.className += " w3-show";
//   } else { 
//     x.className = x.className.replace(" w3-show", "");
//   }
// }



// // Progress Bars
// function move() {
//   var elem = document.getElementById("myBar");   
//   var width = 5;
//   var id = setInterval(frame, 10);
//   function frame() {
//     if (width == 100) {
//       clearInterval(id);
//     } else {
//       width++; 
//       elem.style.width = width + '%'; 
//       elem.innerHTML = width * 1  + '%';
//     }
//   }
// }

// // Slideshow
// var slideIndex = 1;
// showDivs(slideIndex);

// function plusDivs(n) {
//     showDivs(slideIndex += n);
// }

// function currentDiv(n) {
//     showDivs(slideIndex = n);
// }

// function showDivs(n) {
//     var i;
//     var x = document.getElementsByClassName("mySlides");
//     var dots = document.getElementsByClassName("demodots");
//     if (n > x.length) { slideIndex = 1 }
//     if (n < 1) { slideIndex = x.length };
//     for (i = 0; i < x.length; i++) {
//         x[i].style.display = "none";
//     }
//     for (i = 0; i < dots.length; i++) {
//         dots[i].className = dots[i].className.replace(" w3-white", "");
//     }
//     x[slideIndex - 1].style.display = "block";
//     dots[slideIndex - 1].className += " w3-white";
// }



</script>

</body>

</html>
